
<body>
  <header class="header">
    <h1>お散歩コンシェルジュ</h1>
  </header>


<div class="body">


  <div class="p">
    <p>登録済みのおでかけスポット一覧</p>
  </div>
      <div class="param">
        <% @places.each do |place| %>
        <%= place.name %>  <%= place.url %><br>
        <% end %>
      </div>


</div>



  <footer class="footer">

  footer

  </footer>


</body>
